# https://github.com/julia-actions/cache#usage
name: CI

on:
  push:
    paths-ignore:
      - README.md
      - 'docs/**'
  pull_request:

# needed to allow julia-actions/cache to delete old caches that it has created
permissions:
  actions: write
  contents: read

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: [nightly]
        julia-arch: [x64]
        os: [ubuntu-latest]
        include:
          - julia-version: 1.12.0-beta3 # May 12, 2025
            os: ubuntu-latest
          - julia-version: 1.11.5       # April 14, 2025
            os: ubuntu-latest
          - julia-version: 1.6.7        # July 20, 2022
            os: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: julia-actions/setup-julia@v1
      with:
        version: ${{ matrix.julia-version }}
    - uses: julia-actions/cache@v1
    - uses: julia-actions/julia-buildpkg@v1
    - uses: julia-actions/julia-runtest@v1

  RunForWindows:
    needs: Test
    if: github.event.ref == 'refs/heads/master'
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: julia-actions/setup-julia@v1
    - uses: julia-actions/cache@v1
    - uses: julia-actions/julia-buildpkg@v1
    - uses: julia-actions/julia-runtest@v1
